{
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "prettier"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": 2,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/consistent-type-imports": 2,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/no-var-requires": 0,
    "prefer-spread": 0,
    "no-var": 0
  }
}
